### Getting Started with Notebook and Pandas

In [10]:
# import libraries
# For examples of pandas methods and attributes,
# go to, https://www.w3schools.com/python/pandas/default.asp
import pandas as pd

In [11]:
# Import our data using pd (pandas)
retailData = pd.read_csv('./retaildata.csv') # Creates DataFrame

In [14]:
# Visualize the DataFrame (i.e, the table of our data)
retailData.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [16]:
# Get the names of the columns
retailData.columns

Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'],
      dtype='object')

In [20]:
# dataFrame.loc['row','columnName']
retailData.loc[1:20,'Temperature']

1     38.51
2     39.93
3     46.63
4     46.50
5     57.79
6     54.58
7     51.45
8     62.27
9     65.86
10    66.32
11    64.84
12    67.41
13    72.55
14    74.78
15    76.44
16    80.44
17    80.69
18    80.43
19    84.11
20    84.34
Name: Temperature, dtype: float64

In [21]:
# dataFrame.iloc[startIndex:endIndex, columnIndex]
retailData.iloc[1:20, 2]

1     38.51
2     39.93
3     46.63
4     46.50
5     57.79
6     54.58
7     51.45
8     62.27
9     65.86
10    66.32
11    64.84
12    67.41
13    72.55
14    74.78
15    76.44
16    80.44
17    80.69
18    80.43
19    84.11
Name: Temperature, dtype: float64

In [22]:
# Data type for each column
retailData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB